<div class="login-container">
<div class="Loginpage">
  <div
    class="LeftPanel"
    style="background: url('assets/bg.svg') no-repeat center center/cover"
  >
    <img
      src="../../assets/m1.png"
      alt="Motherson Logo"
      class="motherson-logo"
    />
    <div class="fms-box">
      <p class="ProTitle">FMS</p>
    </div>
  </div>
  <div class="RightPanel">
    <p class="Title">LOGIN</p>
    
    <div class="user-role-section">
      <p class="UserRole">User Role</p>
      <div class="user-role-container">
        <label class="User">
          <input type="radio" name="userRole" value="User" /> User</label
        >
        <label class="Maintainer"
          ><input type="radio" name="userRole" value="Maintainer" />
          Maintainer</label
        >
        <label class="Administrator"
          ><input type="radio" name="userRole" value="Administrator" />
          Administrator</label
        >
      </div>
    </div>
    <div class="details">
      <div>
      <div class="inputUScontainer" (click)="onContainerClick($event)">
        <input id="username" type="text" required placeholder=" " />
        <label for="username">Username</label>
      </div>
      <div class="inputPScontainer" (click)="onContainerClick($event)">
        <input
          id="password"
          type="{{ passwordFieldType }}"
          required
          placeholder=" "
        />
        <label for="password">Password</label>
        <img
          src="{{
            showPassword ? 'assets/icons/eye-off.svg' : 'assets/icons/eye.svg'
          }}"
          alt="Toggle Password Visibility"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
        />
      </div>   
    </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>   
      <div class="LoginBtncls">
        <button class="LoginBtn" (click)="validateForm()">LOGIN</button>
      </div>
    </div>
  </div>
  <div
    class="LeftPanel2"
    style="background: url('../../assets/bg.svg') no-repeat center center/cover"
  ></div>
</div>
</div>
