<div class="topbar">
        <div class="TopbarContents">
          <img
            src="../../assets/icons/Notification_icon.svg"
            routerLink="/notification"
            (click)="toggleNotificationPopup()"
            class="Nlogo"
          />
          <img
            src="../../assets/icons/Lan_icon.svg"
            routerLink="/language"
            class="Llogo"
          />
          <div class="Profile">
            <img
              src="../../assets/icons/Profile_icon.svg"
              alt="profile pic"
              routerLink="/profile"
              class="PPicon"
              (click)="toggleProfilePopup()"
            />
            <div class="profile-info">
              <p class="username">{{ username }}</p>
              <p class="userrole">{{ userrole }}</p>
              
            </div>
            
          </div>
        </div>
      </div>
      
<div class="sidebar">
  <div class="sidebar" [class.enlarged]="isSidebarEnlarged" (mouseover)="toggleSidebar(true)" (mouseout)="toggleSidebar(false)">
    <img src="../../assets/Motherson_logo.svg" class="Logo"  />
  

  <div class="icons">
    <div class="icon1" routerLink="/dashboard">
      <img src="../../assets/icons/dashboard_icon copy.svg" class="Dlogo" />
      <span class="label">Dashboard</span>
    </div>
    <div class="icon2" routerLink="/statistics">
      <img src="../../assets/icons/Statistics_icon.svg" class="Slogo" />
      <span class="label">Statistics</span>
    </div>
    <div class="icon3" routerLink="/configuration">
      <img src="../../assets/icons/Configuration_icons.svg" class="Clogo" />
      <span class="label">Configuration</span>
    </div>
    <div class="icon4" routerLink="/Reports">
      <img
        src="../../assets/icons/Logs_icons.svg"
        routerLink="/Reports"
        class="Llogo"
      />
      <span class="label">Reports</span>
    </div>
    <!-- <div class="icon5" routerLink="/usermanagement">
      <img
        src="../../assets/icons/Usermanagement_icons.svg"
        routerLink="/usermanagement"
        class="Ulogo"
      />
      <span class="label">User Management</span>
    </div> -->
  </div>
  <div class="icons logout-icon" (click)="logout()">
    <img src="../../assets/icons/Logout_icon.svg" class="Outlogo" />
    <span class="label">Logout</span>
  </div>
</div>
</div>
<div class="notification-popup" *ngIf="showNotificationPopup">
  <!-- Your notification content here -->
  <p>No new notifications</p>
</div>
<div class="Profile-popup" *ngIf="showProfilePopup">
  <!-- Your notification content here -->
  <p>Hi,{{ username }}</p>
</div>