<div class="Project-container">
  <div class="Projectpage">
    <div
      class="LeftPanel"
      style="background: url('assets/bg.svg') no-repeat center center/cover"
    >
      <img
        src="../../assets/m1.png"
        alt="Motherson Logo"
        class="motherson-logo"
      />
      <div class="fms-box">
        <p class="ProTitle">FMS</p>
      </div>
    </div>
    <div class="RightPanel">
      <p class="ProjTitle">PROJECT</p>
      <div class="details">
        <div class="ProjectSetup">
          <button
            class="CNPBtn"
            [class.active-button]="isProjDiv1Visible"
            (click)="showProjDiv1()"
          >
            Create New Project
          </button>
          <button
            class="IMFBtn"
            [class.active-button]="isProjDiv2Visible"
            (click)="showProjDiv2()"
          >
            Import Project
          </button>
          <button
            class="OEPBtn"
            [class.active-button]="isProjDiv3Visible"
            (click)="showProjDiv3()"
          >
            Existing Project
          </button>
        </div>
        <div class="ProjDiv1" *ngIf="isProjDiv1Visible">
          <div class="input-container1">
            <input
              id="Sitename"
              class="Sitename"
              (focus)="onFocus('Sitename')"
              (blur)="onBlur('Sitename')"
              [(ngModel)]="sitename"
            />
            <label
              for="Sitename"
              [class.active]="isFocused['Sitename'] || sitename"
              >Site Name</label
            >
          </div>
          <div class="input-container2">
            <input
              id="Projectname"
              class="Projectname"
              (focus)="onFocus('Projectname')"
              (blur)="onBlur('Projectname')"
              [(ngModel)]="projectname"
            />
            <label
              for="Projectname"
              [class.active]="isFocused['Projectname'] || projectname"
              >Project Name</label
            >
          </div>
          <div>
            <ng-container *ngIf="errorMessage; else placeholder">
              <p class="error-message">{{ errorMessage }}</p>
            </ng-container>
            <ng-template #placeholder>
              <p></p>
            </ng-template>
            <div class="ButtonSet">
              <button class="CreateBTN" (click)="createProject()">CREATE</button>
              <button (click)="showProjDiv1()" class="BackBTN">BACK</button>
            </div>
          </div>
        </div>
        
        <div class="ProjDiv2" *ngIf="isProjDiv2Visible">
          <div class="Impfile" (click)="onIconClick()">
            <img
              src="../../assets/icons/arrow-down-circle.svg"
              class="Importicon"
            />
            <p class="ImpText">{{ selectedFileName }}</p>
            <input
              type="file"
              id="fileInput"
              (change)="onFileSelected($event)"
              style="display: none"
              accept=".zip"
            />
          </div>
          <div class="ButtonSet">
            <button class="OpenBTN">OPEN</button>
            <button (click)="showProjDiv2()" class="BackBTN">BACK</button>
          </div>
        </div>
        <div class="ProjDiv3" *ngIf="isProjDiv3Visible">
          <select
            class="ProjList"
            [(ngModel)]="selectedProject"
            (change)="onProjectChange($event)"
          >
            <option value="" disabled selected>Project List</option>
            <option
              *ngFor="let product of productList"
              [value]="product | json"
            >
              <!-- | "product | json" angular pipe which converts object into a string -->
              {{ product.projectName }}
            </option>
          </select>
          <div class="ButtonSet">
            <button class="OpenBTN" (click)="openProject()">OPEN</button>
            <button (click)="showProjDiv3()" class="BackBTN">BACK</button>
          </div>
        </div>
        <div class="LogoutBtncls">
          <button class="LogoutBtn" (click)="logout()">LOGOUT</button>
        </div>
      </div>
    </div>
    <div
      class="LeftPanel2"
      style="
        background: url('../../assets/bg.svg') no-repeat center center/cover;
      "
    ></div>
  </div>
</div>
