<div class="container">
  <app-sidenavbar></app-sidenavbar>
  <div class="mainContent">
    <canvas id="myCanvas" (mousedown)="panStart($event)"></canvas>
    <div class="ONBtn">
      <img [src]="getOnBtnImage()" (click)="toggleONBtn()">
    </div>
    <div class="FloorSelector" *ngIf="ONBtn"></div>
    <div class="CanvasOptions">
      <img src="../../assets/CanvasOptions/Zoom.svg" class="Zoom" (click)="zoomIn()">
      <img src="../../assets/CanvasOptions/ZoomOut.svg" class="ZoomOut" (click)="zoomOut()">
      <img src="../../assets/CanvasOptions/Pan.svg" class="Expand" (click)="togglePan()">
      <img src="../../assets/CanvasOptions/Capture.svg" class="Capture" (click)="captureCanvas()">
      <img src="../../assets/CanvasOptions/Save.svg" class="Save" (click)="startRecording()">
      <img src="../../assets/CanvasOptions/Pointer.svg" class="Stop" (click)="stopRecording()"> 
      <!-- <img src="../../assets/CanvasOptions/Layout.svg" class="Layout"> -->
      <img src="../../assets/CanvasOptions/Dashboard.svg" class="Pointer" (click)="toggleDashboard()">
    </div>
    <div class="GraphAndCharts" *ngIf="showDashboard">
      <div class="Chart2_Chart3">
      <div class="Chart2">
        <p>Uptime</p>
        <div class="U-Chart">
          <app-uptime></app-uptime>
        </div>
      </div>
      <div class="Chart3">
        <p>Robot</p>
        <div class="R-Chart">
          <app-chart></app-chart>
        </div>
      </div>
    </div>
      <div class="Chart1">       
          <app-throughput></app-throughput>        
      </div>
      
    </div>
  </div>
</div>
